#color-text {
	-fx-fill: red;
}

.main {
	-fx-background-image: url("com/example/joncdstore/img/login.png");
	-fx-background-size: 100% 100%;

}

.login-but:hover{
	-fx-background-color: #00BE7C;
}

.exit-but:hover{
	-fx-background-color: #db1b36;
}

.menuAdmin {
	-fx-background-image: url("com/example/joncdstore/img/MenuAdmin.png");
    -fx-background-size: 100% 100%;
}

.menuManager {
	-fx-background-image: url("com/example/joncdstore/img/MenuManager.png");
	-fx-background-size: 100% 100%;
}

.menuCashier {
	-fx-background-image: url("com/example/joncdstore/img/MenuCashier.png");
	-fx-background-size: 100% 100%;
}

.buttonAdmin {
	-fx-background-color: linear-gradient(from 0% 30% to 100% 30%, rgb(225, 42, 60), rgba(230,52,37,1));
}

.buttonAdmin:hover {
	-fx-background-color: rgba(210, 34, 17, 0.89);
}

.inactiveAdmin {
	-fx-background-color: rgba(162, 26, 14, 0.89);
}


.buttonManager {
	-fx-background-color: linear-gradient(from 0% 30% to 100% 30%, rgb(42, 149, 225), rgb(37, 179, 230));
}

.buttonManager:hover {
	-fx-background-color: rgba(26, 152, 220, 0.89);
}

.inactiveManager {
	-fx-background-color: rgba(1, 127, 169, 0.89);
}

.buttonCashier {
	-fx-background-color: linear-gradient(from 0% 30% to 100% 30%, rgb(42, 225, 115), rgb(143, 230, 37));
}

.buttonCashier:hover {
	-fx-background-color: rgba(87, 175, 105, 0.98);
}

.inactiveCashier {
	-fx-background-color: rgba(87, 175, 105, 0.98);
}

.edit {
	-fx-background-color: #3274D2;
	-fx-text-fill: #FFFFFF;
}

.edit:hover {
	-fx-background-color: rgba(33,82,151,0.98);
}
.cancel {
	-fx-background-color: transparent;
	-fx-text-fill: #3274D2
}
.cancel:hover {
	-fx-background-color: rgba(173, 170, 170, 0.98);
}

.add{
	-fx-background-color: #238707; -fx-text-fill: white;
}

.add:hover{
	-fx-background-color: #196105;
}

.remove{
	-fx-background-color: red; -fx-text-fill: white;
}

.remove:hover{
	-fx-background-color: #AE0A0A;
}

.modify{
	-fx-background-color: #F0832F; -fx-text-fill: white;
}

.modify:hover{
	-fx-background-color: #D2630F;
}


.table-view .table-row-cell {
	-fx-control-inner-background: #A0D8F8;
	-fx-control-inner-background-alt: #ECEDED;
	-fx-table-cell-border-color:black;
}

